{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Vehicle list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
                <th>Odometer</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('Vehicle_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.year }}</td>
                <td>{{ entity.make }}</td>
                <td>{{ entity.model }}</td>
                <td>{{ entity.odometer }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('Vehicle_show', { 'id': entity.id }) }}">Show Vehicle Info</a>
                    </li>
                    <li>
                        <a href="{{ path('Vehicle_edit', { 'id': entity.id }) }}">Edit Vehicle Info</a>
                    </li>
                    <li>
                        <a href="{{ path('Service_index', { 'vehicleId': entity.id }) }}">Show Service Info</a>
                    </li>
                    <li>
                        <a href="{{ path('Service_new', {'vehicleId': entity.id}) }}">Add Service Info</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('Vehicle_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
